[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pytest = "*"
pytest-allure-adaptor = "*"

[dev-packages]

[requires]
python_version = "3.8"
